.jumbotron {
	background-color: #428bca
}

.jumbotron h1 {
	color:white;
}

p, h1, h4 {
	font-family: 'Roboto Slab', serif;
}

#funText {
	color: black;
	font-size: 24px;
	font-family: 'Roboto Slab', serif;
}

#box {
	height: 100px;
	width: 100px;
	margin:auto;
}

h1
{
	text-align: center;
    color: darkblue;
}

h2
{
    color: green
}

img
{
    border-style: 0;
    border-width: 50px;    
}

p
{
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}

#first {color: yellowgreen;}

#second {color: black;}

#third {color: gray;}

#forth {color:blue}

#fifth {color: darkcyan;}

#sixth {color: purple;}

#seventh {color: palegreen;}

#eigth {color: red;}

#ninth {color: blueviolet}


